<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/weekly.css">
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-light">
        <h1>Habit Tracker</h1>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/weekly" style="color: aqua;">Last week</a>
            </li>
        </ul>
    </nav>

    <div class="container text-center">
        <ul class="list-group">
            <li>
                <div class="row week-days">
                    <div class="col-sm-1" style="background-color:lavender;">
                        <strong></strong>
                    </div>
                    <div class="col-sm-1" style="background-color:lavenderblush;">
                        <strong></strong>
                    </div>
                    <div class="col-sm-1" style="background-color:lavender;">
                        <strong></strong>
                    </div>
                    <div class="col-sm-1" style="background-color:lavenderblush;">
                        <strong></strong>
                    </div>
                    <div class="col-sm-1" style="background-color:lavender;">
                        <strong></strong>
                    </div>
                    <div class="col-sm-1" style="background-color:lavenderblush;">
                        <strong></strong>
                    </div>
                    <div class="col-sm-1" style="background-color:lavender;">
                        <strong></strong>
                    </div>
                </div>
            </li>
            <%for(var i=0;i< Hobbies.length;i++){%>
            <li>
                <div class="hobby-info" >
                    <span>
                        <h4 class="hobby-heading"><%=Hobbies[i].nameOfHobby%></h4>
                    </span>
                    <div class="row">
                        <div class="col-sm-1 " style="background-color:lavender;">
                            <p class="firstDay"></p><a href="/update-hobby-status/?hobbyid=<%=Hobbies[i].id%>">

                                <%=statusOfHobbiesForLast7Days[i][0].jobStatus%>
                            </a>
                        </div>
                        <div class="col-sm-1" style="background-color:lavenderblush;">
                            <p class="secondDay"></p><a
                                href="/update-hobby-status?hobbyid=<%=Hobbies[i].id%>">
                                <%=statusOfHobbiesForLast7Days[i][1].jobStatus%></a>
                        </div>
                        <div class="col-sm-1" style="background-color:lavender;">
                            <p class="thirdDay"></p><a
                                href="/update-hobby-status?hobbyid=<%=Hobbies[i].id%>">
                                <%=statusOfHobbiesForLast7Days[i][2].jobStatus%></a>
                        </div>
                        <div class="col-sm-1" style="background-color:lavenderblush;">
                            <p class="fourthDay"></p><a href="/update-hobby-status?hobbyid=<%=Hobbies[i].id%>">
                                <%=statusOfHobbiesForLast7Days[i][3].jobStatus%></a>
                        </div>
                        <div class="col-sm-1" style="background-color:lavender;">
                            <p class="fifthDay"></p><a
                                href="/update-hobby-status?hobbyid=<%=Hobbies[i].id%>">
                                <%=statusOfHobbiesForLast7Days[i][4].jobStatus%></a>
                        </div>
                        <div class="col-sm-1" style="background-color:lavenderblush;">
                            <p class="sixthDay"></p><a
                                href="/update-hobby-status?hobbyid=<%=Hobbies[i].id%>">
                                <%=statusOfHobbiesForLast7Days[i][5].jobStatus%></a>
                        </div>
                        <div class="col-sm-1" style="background-color:lavender;">
                            <p class="seventhDay"></p><a
                                href="/update-hobby-status?hobbyid=<%=Hobbies[i].id%>">
                                <%=statusOfHobbiesForLast7Days[i][6].jobStatus%></a>
                        </div>

                    </div>
                </div>
            </li>
            <%}%>
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="/js/weekly.js"></script>
</body>

</html>